/* Center the app content */
/*.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    height : 50%;
    border: none;
    
  }
  
  /* Style for the button */
  button {
    padding: 5px 5px;
    margin: 5px 0;
    font-weight: 500;
    font-size: 22px;
    color: rgb(246, 242, 242);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: transparent;
    
    transition: color 0.3s ease;
    
  }
  
  button:hover {
    background: linear-gradient(rgba(178, 205, 245, 0.9), rgba(237, 241, 196, 0.5));
    color : black;
    
    
  }
  
  /* Style for error message */
  p {
    color: rgb(243, 234, 234);
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    padding-top: 20px;
  }
  
  /* Weather display container */
  
  .picture 
  {
    margin-bottom: 30px;
    border-bottom: 20px;
    padding-bottom: 10px;
    height: 100px;
  }

  

 